{# filepath: d:\work\venv\code\zclweb\src\templates\pmcui\porder_add_parts_change_list.html #}

{% extends "admin/change_list.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/bmui.css' %}">
<div class="container">

    <div id="add-new-part-form" method="post"  > 
        {% csrf_token %}
        <input type="hidden"  id="POrder"  name="POrder" value="{{ POrder }}">
        <h3>追加零件到订单: {{POrder|safe}}</h3>
        <div id="porder-details">
            <table>
                <thead>
                    <tr>
                        <th hidden>订单号</th>
                        {% for column in partsHead %}
                            <th>{{ column }}</th>
                        {% endfor %}
                        <th hidden>状态</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody >
                    <td hidden  data-key="POrder_id">{{POrder|safe}}</td>
                    <td hidden  data-key="FId"></td>
                    <td class='field-Input_Part_FNumber' data-key="FNumber"><input type="text" required></td>
                    <td class='field-Input_Quantity' data-key="Quantity"><input type="number" required></td>
                    <td class="field-Input_Description" data-key="Description"><input type="text" ></td>
                    <td hidden  data-key="Status">未就绪</td>
                    <td hidden  data-key="FName"></td>
                    <td hidden  data-key="FModel"></td>
                    <td hidden  data-key="Name"></td>
                    <td hidden  data-key="Id"></td>
                    <td>
                        <button type="button" id="remove-row" class="el-button el-button--danger el-button--small"  >删除</button>
                    </td>
                </tbody>
            </table>
            <div>
                <button type="submit" id="submit" class="el-button el-button--warning el-button--small">提交</button>
                <button type="button" class="el-button el-button--warning el-button--small" id="add-row">+ 添加</button>
            </div>
        </div>
    </div> 

    <div id="execution-result" style="margin-top: 20px; color: red;">
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
    </div>

    <div id="result_list">
        <h3>订单-{{ POrder }} 零件列表</h3>
        <table id="product-parts-table" class='data-table'
            data-headers='["零件编码","零件名称","规格型号","生产单位","数量", "状态", "备注", "操作"]'
            data-keys='["POrder_id","Part.FId","Part.FNumber","Part.FName","Part.FModel","Part.FUnit.Name","Quantity","Status", "Description", "Id", "变更"]'
            data-hidkeys='["Part.FId","POrder_id", "Id"]' 
            data-buttons = '["变更"]'
            data-inputs = '["Quantity","Description"]' data-page=1 data-limit=20>
        </table>
        <div class="table-pager" style="margin: 10px 0px; text-align: center;"></div>
    </div>
<script type="module">
    import {renderTableAndLoadData, handleTableEvent} from "{% static 'js/eventAction.js' %}";
    import {API_CONFIG} from "{% static 'js/apiConfig.js' %}";

    document.addEventListener("DOMContentLoaded", function () {
        const editTable = document.querySelector('#porder-details table')
        editTable.dataset.url = JSON.stringify(API_CONFIG['pmcui-porder'].listPorderParts)
        const partstable = document.getElementById('product-parts-table');
        partstable.dataset.url_params = `{"POrder_id": "{{ POrder }}"}`;
        partstable.dataset.url = JSON.stringify(API_CONFIG['pmcui-porder'].listPorderParts)
        renderTableAndLoadData(partstable);
        handleTableEvent(document.querySelector('#porder-details'));
        handleTableEvent(document.querySelector('#result_list'));
    });
</script>
{% endblock %}