{% extends "admin/change_list.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/bmui.css' %}">

<style>
    /* 标记 required 的 input 项底色为橙色 */
    input[required] {
        background-color: #ffe6cc; /* 橙色背景 */
    }

    /* 如果用户未填写，添加 invalid 类时的样式 */
    .invalid {
        border: 2px solid red; /* 红色边框提示 */
        background-color: #ffcccc; /* 浅红色背景 */
    }
    #porder-details {
        width: 100%; /* 设置表格宽度为容器的 100% */
        border-collapse: collapse; /* 合并边框 */
    }

    #porder-details th, #porder-details td {
        padding: 8px; /* 设置单元格内边距 */
        text-align: left; /* 左对齐内容 */
        border: 1px solid #ddd; /* 添加边框 */
        word-wrap: break-word; /* 自动换行 */
    }

    #porder-details th {
        background-color: #f4f4f4; /* 设置表头背景色 */
    }

    #porder-details tbody tr:hover {
        background-color: #f9f9f9; /* 鼠标悬停时高亮行 */
    }

    #porder-details input {
        width: 100%; /* 输入框宽度占满单元格 */
        box-sizing: border-box; /* 包括内边距和边框在宽度内 */
    }
</style>


<div class="container">
    <form method="post" action="{% url 'admin:bmui_porder_add' %}">
        {% csrf_token %}
        <div>
            <h3>生成新订单</h3>
            <table id="porder-details">
                <thead>
                    <tr>
                        {% for column in tableHead %}
                            <th>{{ column }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for column in tabletype %}                    
                        <td>
                            {% if column.type == "select" %}
                            <select name="{{ column.name }}" required>
                                {% for option in column.options %}
                                    <option value="{{ option }}">{{ option }}</option>
                                {% endfor %}
                            </select>
                            {% else %}
                                <input type="{{ column.type }}" name="{{ column.name }}" {{ column.required }}>
                            {% endif %}
                        </td>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div>
            <button type="submit">提交订单</button>
            <button type="button" id="quick-fill">⛶ 快速添加订单子项</button>
        </div>
    </form>

    <!-- 快速填报模态框 -->
    <div id="quick-fill-modal" class="modal">
        <div class="modal-header">
            <h2>快速填报</h2>
            <div class="modal-controls">
                <button id="maximize-modal" class="modal-button" style="margin-right: 10px;">⛶</button>
                <button id="close-import-modal" class="modal-button">✖</button>
            </div>
        </div>
        <div class="modal-body">
            <div>
                <label for="OrderId[]" class="modal-label"> 产品订单编号：</label>
                <input type="text" id="OrderId[]" name="OrderId[]" readonly>
                <label for="Product_id[]" class="modal-label"> 产品编码：</label>
                <input type="text" id="Product_id[]" name="Product_id[]" readonly>
                <label for="LotId[]" class="modal-label"> 产品批次号：</label>
                <input type="text" id="LotId[]" name="LotId[]" readonly>
            </div>
            <div>
                <label for="DeadLine[]" class="modal-label"> 截至日期：</label>
                <input type="text" id="DeadLine[]" name="DeadLine[]" readonly>
                <label for="Owner[]" class="modal-label"> 制单员：</label>
                <input type="text" id="Owner[]" name="Owner[]" readonly>
            </div>
            <p class="modal-description">
                可将 Excel 内容粘贴到表格中，也可直接编辑表格内容，支持使用复制、粘贴、撤销、删除快捷键。
            </p>
            <div class="modal-table-container">
                <table id="editable-table" class="modal-table"></table>
            </div>
            <div class="modal-footer">
                <button type="submit" id="submit-import" class="modal-action-button">保存</button>
            </div>
        </div>
    </div>
    <!-- 模态框遮罩层 -->
    <div id="modal-overlay" class="modal-overlay"></div>

    {{ block.super }}

</div>

<script type="module">
    import { 
        addRow,
        enableRowDeletion,          
        switchOverlay, 
        initializeTableRows, 
        toggleMaximizeModal, 
        enableTablePaste,
        bindQuickFillSave,  
        getTableData,
        styleCell, 
        fetchParentMaterials,
        } from "{% static 'js/bmui.js' %}";

    document.addEventListener("DOMContentLoaded", function () 
    {
        const tableBodySelector = "#porder-details tbody";
        const quickFillButton = document.getElementById("quick-fill");
        const importModal = document.getElementById("quick-fill-modal");
        const importoverlay = document.getElementById("modal-overlay");
        const editableTable = document.querySelector("#editable-table");

        // 启用删除行功能
        enableRowDeletion(tableBodySelector);

        // 打开快速填报模态框
        const tableHead = {{ partsHead|safe }};
        quickFillButton.addEventListener("click", function () {
            const table = document.querySelector("#porder-details");
            const requiredFields = table.querySelectorAll("[required]");        
            let allValid = true;
            requiredFields.forEach((field) => {
                if (!field.value.trim()) {
                    allValid = false;
                    field.classList.add("invalid"); // 添加样式以标记未填写的字段
                } else {
                    field.classList.remove("invalid"); // 移除标记
                }
            });

            if (!allValid) {
                alert("请填写所有必填项！");
                return;
            }else{
                editableTable.innerHTML = ""; 
                switchOverlay(importoverlay, importModal, true);            
                initializeTableRows(editableTable, 6, tableHead, table, importModal);         
            }
        });
        // 关闭快速填报模态框        
        const closeModalButton = document.getElementById("close-import-modal");
        closeModalButton.addEventListener("click", function () {
            switchOverlay(importoverlay, importModal, false);
        });      
        // need fix
        toggleMaximizeModal(importModal, document.getElementById("maximize-modal"), editableTable);

        // 启用表格粘贴功能
        enableTablePaste(editableTable, 6);

        // 绑定点击事件
        const submitImportButton = document.querySelector("#submit-import");
        const csrfToken = "{{ csrf_token }}";
        bindQuickFillSave(submitImportButton, 
            "{% url 'admin:bmui_porder_addlist' %}", csrfToken, 
            () => {
                // 获取 quick-fill-modal 内的订单相关 input
                const importModal = document.getElementById("quick-fill-modal");
                const order = {
                    POrder: importModal.querySelector('input[name="OrderId[]"]').value,
                    Product: importModal.querySelector('input[name="Product_id[]"]').value,
                    LotId: importModal.querySelector('input[name="LotId[]"]').value,
                    DeadLine: importModal.querySelector('input[name="DeadLine[]"]').value,
                    Owner: importModal.querySelector('input[name="Owner[]"]').value,
                };
                return {
                    order: order,
                    parts: getTableData(editableTable)}; 
            },
            (result) => {
                // 保存成功后的操作
                switchOverlay(importoverlay, importModal, false);
                alert("保存成功！");},
            (error) => {
                // 保存失败后的操作
                console.error("保存失败回调：", error);
                alert("保存失败，请检查网络或数据！");
            }
        );
    });
        

</script>
{% endblock %}