{% extends '_dashboard_base.html' %}

{% block extra_head %}
    <link rel="stylesheet" href="/static/amfui/css/public_min.css">
    <link rel="stylesheet" href="/static/amfui/css/page_min.css">
    <script type="text/javascript" src="/static/amfui/js/dashbord_builds_min.js"></script>
{% endblock %}

{% block content %}
    <div class="about_edu" id="touchArea">
        <script>
            fetchDashboardData(0);
        </script>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        const swipeZone = document.getElementById('touchArea');
        let startX, endX;

        swipeZone.addEventListener('touchstart', function(e) {
            startX = e.touches[0].clientX;
        }, { passive: true });

        swipeZone.addEventListener('touchmove', function(e) {
            e.preventDefault();
            endX = e.touches[0].clientX;
        }, { passive: false });

        swipeZone.addEventListener('touchend', function(e) {
            const deltaX = endX - startX;
            if (deltaX > 20) {
                this.innerHTML = 'Content Reloaded!';
                setTimeout(() => { shiftLeft(); }, 500);
            } else if (deltaX < 20) {
                this.innerHTML = 'Content Reloaded!';
                setTimeout(() => { shiftRight(); }, 500);
            } else {
                this.style.transform = '';
            }
        }, { passive: true });
    </script>
    <script src="/static/amfui/js/pxTurnRem.js"></script>
{% endblock %}
