<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <title>
            车间看板
        </title>
        <link rel="stylesheet" href="../../static/amfui/css/public.css">
        <link rel="stylesheet" href="../../static/amfui/css/page.css">
        <script src="../../static/amfui/js/jquery-3.3.1.min.js">
        </script>
        <script type="text/javascript" src="../../static/amfui/js/jquery.event.drag.js">
        </script>
        <script type="text/javascript" src="../../static/amfui/js/jquery.touchSlider.js">
        </script>
		<script type="text/javascript" src="../../static/amfui/js/dashbord_builds.js"></script>
		<script>
			window.onload = function() {
				fetchDashboardData();
			};
		</script>
    </head>
    
    <body class="page" style="overflow-x:hidden">
        <header class="flex-row justify-between align-center postion-relative">
            <div class="postion-absolute left-0 top-0 color-white texe-al">
                ZCL智能生产展示看板
            </div>
            <img src="../../static/amfui/img/adz.png" alt="" style="width: 100%;">
        </header>
        <!-- 代码部分begin -->
        <div class="about_edu">
            <div class="about_edulist web">	
                <ul class="clearfix">
					<li class="clearfix">
						<div class=" flex-column align-center">
							<div style="width: 18rem;">
								<div id='dashboard-content' class="pt-2 flex-row flex-wrap justify-between ">
								</div>
							</div>
						</div>
					</li>
                </ul>
            </div>
			{% csrf_token %}
            <div class="edu_btn" >
                <span class="edu_leftbtn">
                </span>
                <span class="edu_rgbtn">
                </span>
            </div>
        </div>
        <script src="../../static/amfui/js/jq22.js">
        </script>
        <script>
            edu();
            $(".eduimg img").zoom_img();
            $(".edurg img").zoom_img();
            $(".edurg02 img").zoom_img();
        </script>
    </body>
    <script src="../../static/amfui/js/pxTurnRem.js">
    </script>
    <script>
        $(".lang").click(function() {
            var data = $(this).attr("data");
            if (data == 1) {
                $(".lang-bg").removeClass("d-none");
                $(this).attr('data', 2);
            } else {
                $(".lang-bg").addClass("d-none");
                $(this).attr('data', 1);
            }
        });
    </script>
</html>