{% extends '_dashboard_base.html' %}

{% block extra_head %}{% endblock %}

{% block content %}
    <div class="about_edu">
        <div class="about_edulist web">
            <ul class="clearfix">
                <li class="clearfix">
                    <div class=" flex-column align-center">
                        <div style="width: 18rem;">
                            <div id='dashboard-content' class="pt-2 flex-row flex-wrap justify-between ">
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="edu_btn" id="edu_btn" >
            <span class="edu_leftbtn" id="edu_leftbtn" ></span>
            <span class="edu_rgbtn" id="edu_rgbtn"  ></span>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="/static/amfui/js/jq22.js"></script>
    <script>
        $(function() {
            edu();
            $(".eduimg img").zoom_img();
            $(".edurg img").zoom_img();
            $(".edurg02 img").zoom_img();
        });
    </script>
    <script>
        fetchDashboardData(0,{{viewsize}});
        addBtnAction({{viewsize}});
        setInterval(function() {
            fetchDashboardData(0,{{viewsize}});
        }, 60000);
    </script>
    <script src="/static/amfui/js/pxTurnRem.js"></script>
{% endblock %}
