{% extends "admin/change_list.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/bmui.css' %}">

<div class="container">
    <form method="post" action="{% url 'admin:bmui_attribute_add' %}">
        {% csrf_token %}
        <div>
            <h3>新增属性</h3>
            <table id="attribute-details">
                <thead>
                    <tr>
                        <th>分类 (Description)</th>
                        <th>名称 (Name)</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <select name="description[]" required>
                                {% for option in description_options %}
                                <option value="{{ option }}">{{ option }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <input type="text" name="name[]" required>
                        </td>
                        <td>
                            <button type="button" id="remove-row" class="remove-row">删除</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <button type="submit">提交</button>
            <button type="button" id="add-row">+ 添加</button>
            <button type="button" id="quick-fill">⛶ 快速填报</button>
        </div>
    </form>

    <!-- 快速填报浮窗 -->
    <div id="quick-fill-modal" class="modal" style="max-width: 600px;">
        <h3>快速填报</h3>
        <div>
            <label for="description">分类 (Description):</label>
            <select id="description" name="fill_mode">
                {% for option in description_options %}
                <option value="{{ option }}">{{ option }}</option>
                {% endfor %}
            </select>
        </div>
        <p>可将 Excel 内容粘贴到表格中，也可直接编辑表格内容，支持使用复制、粘贴、撤销、删除快捷键。</p>
        <div class="modal-table-container">
            <table  id="quick-fill-table"></table>
        </div>
        <div>
            <button type="button" id="close-modal">关闭</button>
            <button type="button" id="apply-quick-fill">应用</button>
        </div>
    </div>

    <!-- 模态框遮罩层 -->
    <div id="modal-overlay" class="modal-overlay"></div>

    {{ block.super }}
</div>


<script type="module">
    import { addRow, enableRowDeletion, getTableData, enableTablePaste, hideLoading, 
        switchOverlay, bindQuickFillSave, initializeTableRows, styleCell } from "{% static 'js/bmui.js' %}";

    document.addEventListener("DOMContentLoaded", function () {
        const addRowButton = document.getElementById("add-row");
        const tableBodySelector = "#attribute-details tbody";  
        const quickFillTable = document.querySelector("#quick-fill-table");
        const csrfToken = "{{ csrf_token }}";
        const quickFillButton = document.getElementById("quick-fill");
        const closeModalButton = document.getElementById("close-modal");
        const modal = document.getElementById("quick-fill-modal");
        const overlay = document.getElementById("modal-overlay");

        // 动态添加行
        addRowButton.addEventListener("click", function () {
            addRow(tableBodySelector);
        });

        // 启用删除行功能
        enableRowDeletion(tableBodySelector);

        // 打开快速填报浮窗
        quickFillButton.addEventListener("click", function () {
            switchOverlay(overlay, modal, true);
            // 初始化表格行数
            initializeTableRows(quickFillTable, 6, ["* 名称 (Name)"]);
        });

        // 关闭快速填报浮窗
        closeModalButton.addEventListener("click", function () {
            switchOverlay(overlay, modal, false);
        });

        // 启用表格粘贴功能
        enableTablePaste(quickFillTable);

        // 绑定快速填报保存事件
        const saveButton = document.querySelector("#apply-quick-fill");
        bindQuickFillSave(saveButton, "/bmui/save-attributes/", csrfToken, 
        () => {
            return { 
                description: document.querySelector("#description").value, 
                names: getTableData(quickFillTable)}; },
        (result) => {
            // 保存成功后的操作
            switchOverlay(overlay, modal, false);
            alert("保存成功！");},
        (error) => {
            // 保存失败后的操作
            console.error("保存失败回调：", error);
            alert("保存失败，请检查网络或数据！");
        });
    });
        
</script>

{% endblock %}