{% extends "admin/change_list.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/bmui.css' %}">

<div class="container">
    <form method="get" action="{% url 'admin:bmui_bom_add' %}">
        {% csrf_token %}
        <div class="form" id="parent_from">
            <select id="group_name" name="group_name" required>
                <option value="None" selected>None</option>
                {% for group in groups %}
                <option value="{{ group }}">{{ group }}</option>
                {% endfor %}
            </select>
            <label for="sub_name" style="font-weight: bold;">组别：</label>
            <select id="sub_name" name="sub_name">
                <option value="None" selected>None</option>
            </select>
            <label for="parent_material" style="font-weight: bold;">产品名称：</label>
            <select id="parent_material" name="parent_material" required>
                <option value="None" selected>None</option>
            </select> 
            <label for="parent_version" style="font-weight: bold;">版本：</label>
            <select id="parent_version" name="parent_version" required>
                <option value="None" selected>None</option>
            </select>
            <button type="button" id="parents-fill">⛶ 成品项快速填报</button>

            <h3>零件组件明细</h3>
            <table id="bom-details">
                <thead>
                    <tr>
                        <th>子物料</th>
                        <th>用量</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <select name="child_material[]" required>
                                <option value="None" selected>None</option>
                                {% for material in child_materials %}
                                <option value="{{ material.id }}">{{ material.name }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <input type="number" name="quantity[]" step="1" required>
                        </td>
                        <td>
                            <button type="button" class="remove-row" id="remove-row">删除</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button type="submit">保存</button>
            <button type="button" id="add-row">+ 添加</button>
            <button type="button" id="childs-fill">⛶ 零件/组件快速填报</button>
        </div>
    </form>

    <div id="import-modal-overlay" class="modal-overlay"></div>
    <div id="import-modal" class="modal">
        <div class="modal-header">
            <h2>快速填报</h2>
            <div class="modal-controls">
                <button id="maximize-modal" class="modal-button" style="margin-right: 10px;">⛶</button>
                <button id="close-import-modal" class="modal-button">✖</button>
            </div>
        </div>
        <div class="modal-body">
            <label for="fill-mode" class="modal-label">填报模式：</label>
            <select id="fill-mode" class="modal-select">
                <option value="new">新增记录</option>
                <option value="edit">编辑记录</option>
            </select>
            <p class="modal-description">
                可将 Excel 内容粘贴到表格中，也可直接编辑表格内容，支持使用复制、粘贴、撤销、删除快捷键。
            </p>
            <div class="modal-table-container">
                <table id="editable-table" class="modal-table"></table>
            </div>
            <div class="modal-footer">
                <button type="submit" id="submit-import" class="modal-action-button">保存</button>
            </div>
        </div>
    </div>
    
    <div id="review-modal-overlay" class="modal-overlay"></div>
    <div id="review-modal" class="modal">
        <div class="modal-header">
            <h2>快速填报 - 确认信息</h2>
            <button id="close-review-modal" class="modal-button">✖</button>
        </div>
        <p class="modal-description">
            可在此页面调整对应的字段，确认后数据将更新至「物料表清单」中
        </p>
        <div class="modal-table-container">
            <table id="review-table" class="modal-table">
                <thead>
                    <tr>
                    </tr>
                </thead>
                <tbody>
                    <!-- 动态填充内容 -->
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button id="previous-step" class="modal-action-button">上一步</button>
            <button id="confirm-data" class="modal-action-button">确定</button>
        </div>
    </div>

    {{ block.super }}
</div>

<script type="module">
    import { 
        addRow,         
        getTableData, 
        switchOverlay, 
        enableTablePaste,
        enableRowDeletion, 
        bindQuickFillSave,
        initializeTableRows, 
        toggleMaximizeModal,    
        fetchParentMaterials,
        } from "{% static 'js/bmui.js' %}";

    document.addEventListener("DOMContentLoaded", function () {
        const addRowButton = document.getElementById("add-row");
        const partTableSelector = "#bom-details tbody";
        const parentsFillButton = document.getElementById("parents-fill");
        const childsFillButton = document.getElementById("childs-fill");
        const closeModalButton = document.getElementById("close-import-modal");
        const closeReviewModalButton = document.getElementById("close-review-modal");
        const importModal = document.getElementById("import-modal");
        const importoverlay = document.getElementById("import-modal-overlay");
        const editableTable = document.querySelector("#editable-table");

        const groupSelect = document.getElementById("group_name");
        const subGroupSelect = document.getElementById("sub_name");
        const parentSelect = document.getElementById("parent_material");
        const versionSelect = document.getElementById("parent_version");


        const applyQuickFillButton = document.getElementById("apply-quick-fill");
        // 检查必要的 DOM 元素是否存在
        if (!addRowButton || !partTableSelector || !parentsFillButton || !childsFillButton || 
        !importModal || !importoverlay) {
            console.error("无法找到必要的 DOM 元素");
            return;
        }

        // 动态添加行
        addRowButton.addEventListener("click", function () {
            console.log("添加行按钮被点击");
            addRow(partTableSelector);
        });

        // 启用删除行功能
        enableRowDeletion(partTableSelector);

        // 打开快速填报模态框
        const editTableHead = {{ editTableHead|safe }};
        parentsFillButton.addEventListener("click", function () {
            editableTable.innerHTML = ""; 
            switchOverlay(importoverlay, importModal, true);
            initializeTableRows(editableTable, 6, editTableHead);
        });
        childsFillButton.addEventListener("click", function () {
            const selects = [groupSelect, subGroupSelect, parentSelect, versionSelect];
            const invalidSelects = selects.filter(select => select.value === "None");
    
            if (invalidSelects.length > 0) {
                // 如果有任何 <select> 的值为 "None"，显示提示信息
                alert("请确保所有下拉框都已选择有效值！");
            }
            else {
                // 如果所有 <select> 的值都有效，打开模态框
                editableTable.innerHTML = ""; 
                switchOverlay(importoverlay, importModal, true);
                initializeTableRows(editableTable, 6, editTableHead);
            }
        });
        // 关闭快速填报模态框
        closeModalButton.addEventListener("click", function () {
            switchOverlay(importoverlay, importModal, false);
        });

        toggleMaximizeModal(importModal, document.getElementById("maximize-modal"), editableTable);

        // 启用表格粘贴功能
        enableTablePaste(editableTable, 12);

        // 绑定点击事件
        const submitImportButton = document.querySelector("#submit-import");
        const csrfToken = "{{ csrf_token }}";
        bindQuickFillSave(submitImportButton, "/bmui/save-boms/", csrfToken, 
        () => {
            return { 
                parent_version: document.querySelector("#parent_version").value,
                parent_material: document.querySelector("#parent_material").value,
                boms: getTableData(editableTable)}; },
        (result) => {
            // 保存成功后的操作
            switchOverlay(importoverlay, importModal, false);
            alert("保存成功！");},
        (error) => {
            // 保存失败后的操作
            console.error("保存失败回调：", error);
            alert("保存失败，请检查网络或数据！");
        });


        const group = groupSelect.value;
        const subGroup = subGroupSelect.value;
        const parent = parentSelect.value;
        // 动态生成 fetchParentMaterials 的 URL
        window.fetchParentMaterialsUrl = "{% url 'admin:bmui_get_parent_materials' %}";

        // 监听 group_name 的选择事件
        groupSelect.addEventListener("change", function () {
            // 调用通用函数获取 parent_material 列表
            const group = groupSelect.value;
            subGroupSelect.innerHTML = '<option value="None" selected>None</option>';
            parentSelect.innerHTML = '<option value="None" selected>None</option>';
            const subGroup = subGroupSelect.value;
            const parent = parentSelect.value;
            fetchParentMaterials(group, subGroup, parent, subGroupSelect);
        });
        // 监听 sub_name 的选择事件
        subGroupSelect.addEventListener("change", function () {
            const group = groupSelect.value;
            const subGroup = subGroupSelect.value;
            parentSelect.innerHTML = '<option value="None" selected>None</option>';            
            versionSelect.innerHTML = '<option value="None" selected>None</option>';
            const parent = parentSelect.value;
            fetchParentMaterials(group, subGroup, parent, parentSelect);
        });

        parentSelect.addEventListener("change", function () {
            const group = groupSelect.value;
            const subGroup = subGroupSelect.value;
            const parent = parentSelect.value;
            fetchParentMaterials(group, subGroup, parent, versionSelect);
        });
    });
</script>


{% endblock %}