/* 页面 */
.page {
	background-color: #030410;
	min-height: 100vh;
	box-sizing: border-box;
	color: #fff;
	font-size: 0;
}

.das-bg {
	background-image: url('../img/das_bg.png');
	background-size: 100%;
	background-repeat: no-repeat;
}

.box-a {
	width: 5.0rem;
	min-height: 8.2rem;
	background-image: url('../img/bg2.png');
	background-size: 100%;
	background-repeat: no-repeat;
}

.box-b {
	width: 5.0rem;
	min-height: 8.2rem;
	background-image: url('../img/bg2.png');
	background-size: 100%;
	background-repeat: no-repeat;
}

.box-c {
	width: 5.0rem;
	min-height: 8.2rem;
	background-image: url('../img/bg2.png');
	background-size: 100%;
	background-repeat: no-repeat;
}

.box-d {
	width: 3.79rem;
	min-height: 4rem;
	background-image: url('../img/bg2.png');
	background-size: 100%;
	background-repeat: no-repeat;
}

.web-box {
	width: 1.48rem;
	height: 1.46rem;
	background-color: #FFFFFF;
	border-radius: 0.2rem;
}

.das-box {
	width: 2.3rem;
	height: 2.28rem;
	margin-right: 0.46rem;
	margin-bottom: 0.4rem;
	background-color: #FFFFFF;
	border-radius: 0.2rem;
}

.dumbo-bg {
	width: 6.13rem;
	height: 0.48rem;
	background-color: #3968DA;
	border-radius: 0.35rem;
}

.hz-bg {
	width: 12rem;
	height: 2.87rem;
	background-image: url('../img/hz-bg.png');
	background-size: 100%;
	background-repeat: no-repeat;
}


.bg-btn {
	background-color: #FF7D43;
}

.bb {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
}

.br {
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #f5f5f5;
}

.bl {
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #f5f5f5;
}

.bt {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #f5f5f5;
}

/* 文案 */
.text-title-b {
	font-size: 0.36rem;
	color: #1A1A1A;
}

.text-title {
	font-size: 0.3rem;
	color: #1A1A1A;
}

.text-title-z {
	font-size: 0.28rem;
	color: #1A1A1A;
}

.text-title-m {
	font-size: 0.26rem;
	color: #1A1A1A;
}

.text-txt-b {
	font-size: 0.46rem;
	color: #FFFFFF;
}

.text-txt {
	font-size: 0.3rem;
	color: #999999;
}

.text-txt-z {
	font-size: 0.28rem;
	color: #999999;
}

.text-txt-m {
	font-size: 0.24rem;
	color: #999999;
}

.text-btn-b {
	font-size: 0.36rem;
	color: #FF7D43;
}

.text-btn {
	font-size: 0.3rem;
	color: #FF7D43;
}

.text-btn-z {
	font-size: 0.28rem;
	color: #FF7D43;
}

.text-btn-m {
	font-size: 0.24rem;
	color: #FF7D43;
}

.text-tip-b {
	font-size: 0.36rem;
	color: #ff2130;
}

.text-tip {
	font-size: 0.3rem;
	color: #ff2130;
}

.text-tip-z {
	font-size: 0.28rem;
	color: #ff2130;
}

.text-tip-m {
	font-size: 0.24rem;
	color: #ff2130;
}
