{% extends "admin/change_list.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/bmui.css' %}">
<link rel="stylesheet" href="{% static 'css/table.css' %}">

<div class="container">
    <form class='el_table-container'>
        {% csrf_token %}
        <h3>新增属性</h3>
        <table class='el_input_details_table' id="attribute-details">
        </table>
        <div>
            <button type="submit" id="submit">提交</button>
            <button type="button" id="add-row">+ 添加</button>
            <button type="button" id="quick-fill">⛶ 快速填报</button>
        </div>
    </form>

    {% include 'common/modal_quick_fill.html' %}

    {{ block.super }}
</div>


<script type="module">
    import {handlePostTableEvent, handleFastFillModelEvent, handleResultListEvent} from "{% static 'js/eventAction.js' %}";
    import {API_CONFIG} from "{% static 'js/apiConfig.js' %}";
    import {renderFastFillModel} from "{% static 'js/a_wuliao.js' %}";
    import {postTableRenderer} from "{% static 'js/renderFrame.js' %}";

    document.addEventListener("DOMContentLoaded", function () {
        const select_url = {datas: ["单位", "设备", "CNC设备", "工艺参数", "CNC工艺参数","获取方式", "生产状态", ]}   
        const table_url = API_CONFIG['a_wuliao'].attribute

        const mdTable = document.querySelector('.el_table-container table')
        mdTable.dataset.headers = JSON.stringify(['分类','名称', '备注','操作'])
        mdTable.dataset.keys = JSON.stringify(['description','name', 'key', '删除'])
        mdTable.dataset.inputs = JSON.stringify(['name','key',])
        mdTable.dataset.buttons = JSON.stringify(['删除'])
        mdTable.dataset.require = JSON.stringify(['name'])
        mdTable.dataset.selects = JSON.stringify({description: select_url})
        mdTable.dataset.url = JSON.stringify({path: table_url})
        new postTableRenderer(mdTable,1).initiTable();
        handlePostTableEvent(document.querySelector('.el_table-container'));

        const fastContain = document.querySelector('.el-descriptions-fast-fill')
        const table_params = {
            url: JSON.stringify({path: table_url}),
            headers: JSON.stringify(['名称', '备注']),
            keys: JSON.stringify(['name', 'key'])
        }
        const select_params = {
            option: JSON.stringify({key: 'description', defaultText: '请选择属性类别'}),
            url: JSON.stringify(select_url)}
        renderFastFillModel(fastContain, select_params, table_params)
        handleFastFillModelEvent(document.querySelector('#quick-fill-modal'));

        const container = document.querySelector('#result_list');
        container.dataset.url = JSON.stringify(table_url);
        handleResultListEvent(container);
    });
        
</script>

{% endblock %}
