{% extends "admin/change_list.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/bmui.css' %}">
<link rel="stylesheet" href="{% static 'css/table.css' %}">

<div class="container">
    <form class='el_table-container'>
        {% csrf_token %}
        <h3>新增BOM</h3>
        <table class='el_input_details_table' id="version-details">
        </table>
        <div>
            <button type="submit" id="submit">提交</button>
            <button type="button" id="add-row">+ 添加</button>
            <button type="button" id="quick-fill">⛶ 快速填报</button>
        </div>
    </form>

    {% include 'common/modal_quick_fill.html' %}

    {{ block.super }}
</div>


<script type="module">
    import { handlePostTableEvent, handleFastFillModelEvent} from "{% static 'js/eventAction.js' %}";
    import {API_CONFIG} from "{% static 'js/apiConfig.js' %}";
    import {renderFastFillModel} from "{% static 'js/a_wuliao.js' %}";
    import {postTableRenderer} from "{% static 'js/renderFrame.js' %}";

    document.addEventListener("DOMContentLoaded", function () {
        const select_url = {datas: ["快速填报", "快速编辑"]}   
        const table_url = {path: API_CONFIG['a_wuliao'].bom}
        const table_headers = ['编号','型号','名称','版本','上级物料','数量']
        const table_keys = ['material_number','material_model','material_name','version','p_material','quantity']
        const require_keys = ['material_name','material_model','material_number','version','quantity']
        
        const table_baseData = {}
        
        const mdTable = document.querySelector('.el_table-container table')
        mdTable.dataset.uniqKeys = JSON.stringify(['material_model','material_number'])
        mdTable.dataset.headers = JSON.stringify(table_headers.concat('操作'))
        mdTable.dataset.keys = JSON.stringify(table_keys.concat('删除'))
        mdTable.dataset.buttons = JSON.stringify(['删除'])
        mdTable.dataset.selects = JSON.stringify({version:{dataK:'history_versions'}})
        mdTable.dataset.inputs = JSON.stringify(['material_name','material_model','material_number','p_material','quantity'])
        mdTable.dataset.url = JSON.stringify(table_url)
        mdTable.dataset.require = JSON.stringify(require_keys)
        
        new postTableRenderer(mdTable,1).initiTable();
        handlePostTableEvent(document.querySelector('.el_table-container'));

        const fastContain = document.querySelector('.el-descriptions-fast-fill')
        const table_params = {
            url: JSON.stringify(table_url),
            headers: JSON.stringify(table_headers),
            keys: JSON.stringify(table_keys),
           // baseData: JSON.stringify(table_baseData)
        }
        const select_params = {
            url: JSON.stringify(select_url)}
        renderFastFillModel(fastContain, select_params, table_params)
        handleFastFillModelEvent(document.querySelector('#quick-fill-modal'));
    });
        
</script>

{% endblock %}
