{%extends 'layout.html'%}
{%block content%}
    <div class="container">
        <div style="...">
            <a class="btn btn-success" href="/alarm/">
                <span class = "glyhicon glyhicon-plus-sign" aria-hidden="true"></span>
                获取最新数据
            </a>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                告警编号索引
            </div>
            <!--Table-->
            <Table class="table table-bordered">
                <thead>
                <tr>            
                    <th>ID</th>
                    <th>AllarmID</th>
                    <th>Allarm字段信息</th>
                    <th>TypeID</th>
                    <th>Description_Id</th>
                </tr>
                </thead>
                <tbody>
                {%for obj in queryset%}
                    <tr>
                        <td>{{obj.id}}</td>
                        <td>{{obj.AllarmID}}</td>
                        <td>{{obj.AllarmString}}</td>
                        <td>{{obj.TypeID}}</td>
                        <td>{{obj.Description_Id}}</td>
                    </tr>
                {%endfor%}
                </tbody>
            </Table>
        </div>
    </div>
{%endblock%}