<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <title>
            首页
        </title>
        <link rel="stylesheet" href="../static/css/public.css">
        <link rel="stylesheet" href="../static/css/page.css">
        <script src="../static/js/jquery-3.3.1.min.js">
        </script>
        <script type="text/javascript" src="../static/js/jquery.event.drag.js">
        </script>
        <script type="text/javascript" src="../static/js/jquery.touchSlider.js">
        </script>
    </head>
    
    <body class="page" style="overflow-x:hidden">
        <header class="flex-row justify-between align-center postion-relative">
            <div class="postion-absolute left-0 top-0 color-white texe-al">
                ZCL智能生产展示看板
            </div>
            <img src="../static/img/adz.png" alt="" style="width: 100%;">
        </header>
        <!-- 代码部分begin -->
        <div class="about_edu">
            <div class="about_edulist web">
                <ul class="clearfix">
                    {%for cellIDQ in cellIDQList%}
                    <li class="clearfix">
                        <div class=" flex-column align-center">
                            <div style="width: 18rem;">
                                <div class="pt-2 flex-row flex-wrap justify-between ">
                                    {%for cellQ in cellIDQ%}
									<div class="box-a pd-3 flex-column  postion-relative">
										<div class="pt-2 pl-2 font-s4 color-blue postion-relative">
											<div class="hengx postion-absolute">
											</div>
											{{cellQ.CellaID}}-{{cellQ.Note_Id}}
										</div>
										<div style="width: 5rem;" class="pt-4 flex-row justify-between ">
											<div class="dingdal" style="width: 2.0rem;">
												<div class="tel font-weight-bold ">
													订单信息
												</div>
												<div class="dingdanshu flex-row justify-between flex-1 pt-2">
													<div class="dingdanshul">
														<p class="fep-12">
															订单信息
														</p>
														<p class="fep-16 font-weight-bold ">
															客户1-OK001
														</p>
													</div>
													<div class="dingdanshul">
														<p class="fep-12">
															订单总数量
														</p>
														<p class="fep-16 font-weight-bold ">
															{{cellQ.Pezz.ReqPezzi}}
														</p>
													</div>
												</div>
												<div class="hengg">
												</div>
												<div class="dingdanshu flex-row justify-between flex-1 pt-2">
													<div class="dingdanshul">
														<p class="fep-12">
															已生产
														</p>
														<p class="fep-16 font-weight-bold ">
															{{cellQ.Pezz.Pezzi}}
														</p>
													</div>
													<div class="dingdanshul">
														<p class="fep-12">
															待生产
														</p>
														<p class="fep-16 font-weight-bold ">
															{{cellQ.Pezz.TotPezzi}}
														</p>
													</div>
												</div>
												<div class="jintud">
													<h3 class="fep-12b font-weight-normal">
														订单加工{{cellQ.Pezz.Reach}}%
													</h3>
													<progress id="myProgress{{cellQ.CellaID}}" value="0" class="mypro" max="100">
													</progress>
													<script>
														// 获取进度条元素
														var progress = document.getElementById("myProgress{{cellQ.CellaID}}");
									
														// 设置进度条的长度
														progress.value ={{cellQ.Pezz.Reach}}; // 设置为50%的长度
														
													</script>
												</div>
											</div>
											<div class="zhuangt" style="width: 2.4rem;">
												<div class="yuxnzt font-weight-bold">
													设备状态:
													<span class={{cellQ.Stato.Color}}>
														{{cellQ.Stato.Status}}
													</span>
												</div>
												<div class="yuxnztjl font-weight-bold">
													<div class="fep-16 font-weight-bold">
														今日生产记录
													</div>
													<div class="pt-2">
														<div class="sez font-weight-normal ">
															今日在线时长： {{cellQ.Proc.OnlineTm}}
														</div>
														<div class="sez font-weight-normal ">
															今日生产数量： {{cellQ.Pezz.Pezzi}}
														</div>
														<div class="sez font-weight-normal {{cellQ.Stato.Mode}}">
															故障信息： {{cellQ.Stato.AlarmSrt}}
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="paruct align-center">
											<img src="./static/img/{{cellQ.Note_Img}}" alt="" class="tupas">
											<img src="./static/img/{{cellQ.Stato.img}}" alt="" class="tupasa">
										</div>
									</div>
                                    {%endfor%}
                                </div>
                            </div>
                        </div>
                    </li>
                    {%endfor%}
                </ul>
            </div>
			{% csrf_token %}
            <div class="edu_btn" >
                <span class="edu_leftbtn">
                </span>
                <span class="edu_rgbtn">
                </span>
            </div>
        </div>
        <script src="../static/js/jq22.js">
        </script>
        <script>
            edu();
            $(".eduimg img").zoom_img();
            $(".edurg img").zoom_img();
            $(".edurg02 img").zoom_img();
        </script>
    </body>
    <script src="../static/js/pxTurnRem.js">
    </script>
    <script>
        $(".lang").click(function() {
            var data = $(this).attr("data");
            if (data == 1) {
                $(".lang-bg").removeClass("d-none");
                $(this).attr('data', 2);
            } else {
                $(".lang-bg").addClass("d-none");
                $(this).attr('data', 1);
            }
        });
    </script>
	<script language="JavaScript">
		setTimeout(function(){location.reload()},15000); 
		//指定10秒刷新一次
	</script>

</html>