{%extends 'layout.html'%}
{%block content%}
    <div class="container">
        <div style="...">
            {%for cellQ in cellIDQ%}
            <a class="btn btn-success" @click="get_cell_liveStatus({{cellQ.CellaID}})" >
                <span class = "glyhicon glyhicon-plus-sign" aria-hidden="true"></span>
                {{cellQ.CellaID}}
            </a>
            {%endfor%}
        </div>
        {%for cellQ in queryset%}
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                {{cellQ.CellaID}}# 设备 在线时刻表
            </div>
            <!--Table-->
            <Table class="table table-bordered">
                <thead>
                <tr>            
                    <th>ID</th>
                    <th>车间</th>
                    <th>Check1</th>
                    <th>Check2</th>
                </tr>
                </thead>
                <tbody>
                {%for obj in cellQ.LiveCheckQ%}
                    <tr>
                        <td>{{obj.id}}</td>
                        <td>{{obj.Plant}}</td>
                        <td>{{obj.Check1}}</td>
                        <td>{{obj.Check2}}</td>
                    </tr>
                {%endfor%}
                </tbody>
            </Table>
        </div>
        {%endfor%}
    </div>
{%endblock%}