{%extends 'layout.html'%}
{%block content%}
    <div class="container">
        <form id= "EtidForm" method="post" action="/order/">
            {% csrf_token %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>    
                <a class="btn btn-primary" onclick="selectOperatePost(1)" value='NewOrder'>
                    <span class = "glyhicon glyhicon-plus-sign" aria-hidden="true"></span>新增工单
                </a>             
                <a class="btn btn-primary" onclick="selectOperatePost(2)" value='EditOrder'>
                    <span class = "glyhicon glyhicon-plus-sign" aria-hidden="true"></span>编辑已有订单
                </a>
                <a class="btn btn-primary" onclick="selectOperatePost(3)" value='EditOrder'>
                    <span class = "glyhicon glyhicon-plus-sign" aria-hidden="true"></span>删除订单
                </a>
            </div>
        </div>
        </form>
        <!--Table-->
        <Table Id="orderTable" class="table table-bordered">
            <thead>
            <tr> 
                <th>订单号</th>
                <th>工序标注</th>
                <th>产品款号</th>
                <th>产品颜色</th>          
                <th>工单号</th>
                <th>加工机台</th>
                <th>计划生产件数</th>
                <th>计划追加生产件数</th>                
                <th>实际生产件数</th>
                <th>加工开始时间</th>
                <th>加工结束时间</th>
                <th>预计剩余时长</th>
                <th>加工状态 <input list="options" hidden="true"><datalist id="options">
                    <option value="选项1">
                    <option value="选项2">
                    <option value="选项3">
                  </datalist></th>
            </tr>
            </thead>
            <tbody>
            {%for obj in queryset%}
                <tr>
                    <td>{{obj.OrderID}}</td>
                    <td>{{obj.Process}}</td>
                    <td>{{obj.StytleNum}}</td>
                    <td>{{obj.Colour}}</td>
                    <td>{{obj.WorkSheetID}}</td>
                    <td>{{obj.CellaID}}</td>
                    <td>{{obj.RequireParts}}</td>
                    <td>{{obj.AddReqParts}}</td>
                    <td>{{obj.FinishParts}}</td>                    
                    <td>{{obj.startTM}}</td>                    
                    <td>{{obj.endTM}}</td>
                    <td>{{obj.EstimatedTime}}</td>
                    <td Id="OrderStatus">{{obj.WorkStatus}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </Table>
        <script>
            function fillOrderTableColour(){  
                var table = document.getElementById("orderTable");
                var rows = table.getElementsByTagName("tr");    
                for (var i = 0; i < rows.length; i++) {
                  var cellV = rows[i].getElementsById("OrderStatus");
                  if (cellV.textContent === "已完成") { 
                    rows[i].style.backgroundColor = 'green';
                  } else if(cellV.textContent === "暂停") {
                    rows[i].style.backgroundColor = 'yellow';
                  } else if(cellV.textContent === "加工中") {
                    rows[i].style.backgroundColor = 'red';
                  }
                }
              }
        </script>
    </div>
{%endblock%}