{%extends 'layout.html'%}
{%block content%}
    <div class="container">
        <form id= "EtidForm" method="post" action="/order/">
            {% csrf_token %}
       <!---<a class="btn btn-primary" onclick="selectOperatePost(1)" value='NewOrder'> <span class = "glyhicon glyhicon-plus-sign" aria-hidden="true"></span>新增工单</a> -->           
            <a class="btn btn-primary" onclick="selectOperatePost(2)" value='EditOrder'>
                <span class = "glyhicon glyhicon-plus-sign" aria-hidden="true"></span>编辑订单信息
            </a>
       <!---<a class="btn btn-primary" onclick="selectOperatePost(3)" value='EditOrder'> <span class = "glyhicon glyhicon-plus-sign" aria-hidden="true"></span>删除订单 </a>  -->
        <div class="panel panel-default">

        </div>
        </form>
        <!--Table-->
        <Table Id="orderTable" class="table table-bordered">
            <thead>
            <tr> 
                <th>订单号</th>
                <th>工序标注</th>
                <th>产品款号</th>
                <th>产品颜色</th>          
                <th>工单号</th>
                <th>加工机台</th>
                <th>加工状态 <input list="options" hidden="true"><datalist id="options">
                    <option value="选项1">
                    <option value="选项2">
                    <option value="选项3">
                  </datalist></th>
                <th>计划工件数</th>
                <th>追加工件数</th>                
                <th>实际工件数</th>
                <th>开始日期</th>
                <th>结束日期</th>
                <th>加工时间</th>
                <th>调机时间</th>
                <th>待机时间</th>
                <th>预计剩余时长</th>
            </tr>
            </thead>
            <tbody>
            {%for obj in queryset%}
                <tr>
                    <td>{{obj.OrderID}}</td>
                    <td>{{obj.Process}}</td>
                    <td>{{obj.StytleNum}}</td>
                    <td>{{obj.Colour}}</td>
                    <td>{{obj.WorkSheetID}}</td>
                    <td>{{obj.CellaID}}</td>
                    <td Id="OrderStatus">{{obj.WorkStatus}}</td>
                    <td>{{obj.RequireParts}}</td>
                    <td>{{obj.AddReqParts}}</td>
                    <td>{{obj.FinishParts}}</td>  
                    <td>{{obj.startTM}}</td>                    
                    <td>{{obj.endTM}}</td>                     
                    <td>{{obj.WorkTM}}</td>                    
                    <td>{{obj.AdjTM}}</td>                    
                    <td>{{obj.IdlTM}}</td>
                    <td>{{obj.EstimatedTime}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </Table>
        <script>
            function fillOrderTableColour(){  
                var table = document.getElementById("orderTable");
                var rows = table.getElementsByTagName("tr");    
                for (var i = 0; i < rows.length; i++) {
                  var cellV = rows[i].getElementsById("OrderStatus");
                  if (cellV.textContent === "已完成") { 
                    rows[i].style.backgroundColor = 'green';
                  } else if(cellV.textContent === "暂停") {
                    rows[i].style.backgroundColor = 'yellow';
                  } else if(cellV.textContent === "加工中") {
                    rows[i].style.backgroundColor = 'red';
                  }
                }
              }
        </script>
    </div>
{%endblock%}