{%extends 'layout.html'%}
{%block content%}
    <div class="container">
        <form id= "CellaIDForm" method="post" action="/stato/">
            {% csrf_token %}
            {%for cellQ in cellIDQ%}
            <a class="btn btn-primary" onclick="selectCellIdPost('{{cellQ.CellaID}}')" value={{cellQ.CellaID}}>
                <span class = "glyhicon glyhicon-plus-sign" aria-hidden="true"></span>{{cellQ.CellaID}}# 机
            </a>
            {%endfor%}
        </form>
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                #{{cellID}} 设备状态切换时刻表
            </div>
            <!--Table-->
            <Table class="table table-bordered">
                <thead>
                <tr>            
                    <th>ID</th>
                    <th>日期</th>
                    <th>时间</th>
                    <th>车间</th>
                    <th>工作状态</th>
                    <th>告警编号</th>
                </tr>
                </thead>
                <tbody>
                {%for obj in queryset%}
                    <tr>
                        <td>{{obj.StatoID}}</td>
                        <td>{{obj.Data}}</td>
                        <td>{{obj.Ora}}</td>
                        <td>{{obj.Plant}}</td>
                        <td>{{obj.get_Stato_display}}</td>
                        <td>{{obj.Alarm}}</td>
                    </tr>
                {%endfor%}
                </tbody>
            </Table>
        </div>
    </div>
{%endblock%}