{%extends 'layout.html'%}
{%block content%}
    <div class="container">
        <div class="row">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                各设备在线时间长一览图
            </div>
            <div class="col-md-8">
            {{ plot_div | safe }}
            </div>
        </div>
        {%for cellQ in cellIDQ%}
        <a class="btn btn-primary">
            <span class = "glyhicon glyhicon-plus-sign" aria-hidden="true"></span>{{cellQ.CellaID}}# 机
        </a>
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                {{cellID}}-机器在线时间表
            </div>
            <!--Table-->
            <Table class="table table-bordered">
                <thead>
                <tr>            
                    <th>日期</th>                
                    <th>在线时长(小时)</th>
                    <th>生产模式(小时)</th>
                    <th>待料&异常模式(小时)</th>
                    <th>异常中断时长(小时)</th>
                </tr>
                </thead>
                <tbody>
                {%for obj in cellQ.checktimeList%}
                    <tr>
                        <td>{{obj.day}}</td>
                        <td>{{obj.timeline}}</td>
                        <td>{{obj.worktime}}</td>
                        <td>{{obj.idleTm}}</td>
                        <td>{{obj.abnorm}}</td>
                    </tr>
                {%endfor%}
                </tbody>
            </Table>
        </div>
        {%endfor%}
    </div>
{%endblock%}