{%extends 'layout.html'%}
{%block content%}
    <div class="container">
        <div class="panel panel-default">
            <!--Table-->

            <Table class="table table-bordered">
                <thead>
                <tr>
                    <th>机台名称</th>
                    <th>机台编号</th>
                    <th>开机时长</th>
                    <th>在线时长</th>
                    <th>加工时长</th>
                    <th>调机时长</th>
                    <th>待机时长</th>
                    <th>掉线率</th>
                    <th>日生产工件数</th>
                    <th>当前工单</th>
                    <th>当前模式</th>
                    <th>当前工单剩余</th>
                    <th>待加工工单</th>
                </tr>
                </thead>
                <tbody>
                {%for obj in queryset%}                
                <form action="" method="post">
                    {% csrf_token %}
                    <tr>
                        <td>{{obj.Note_Id}}</td>
                        <td>{{obj.CellaID}}</td>
                        <td>{{obj.Proc.PowonTM}}</td>
                        <td>{{obj.Proc.OnlineTM}}</td>
                        <td>{{obj.Proc.WorkTM}}</td>
                        <td>{{obj.Proc.AdjTM}}</td>
                        <td>{{obj.Proc.IdlTM}}</td>
                        <td>{{obj.Proc.OfflineRate}}%</td>
                        <td>{{obj.Pezz.DailyPezzi}}</td>
                        <td>{{obj.Pezz.WorkSheetID}}</td>
                        <td>{{obj.Stato.WorkMode}}</td>
                        <td>{{obj.Pezz.EstimatedTm}}</td>
                        <td>{{obj.IdlOrder}}</td>
                    </tr>
                </form>
                {%endfor%}
                </tbody>
            </Table>
        </div>

    </div>
{%endblock%}